# encoding: utf-8
<div>
  <div style="max-width: 500px; margin-left: auto; margin-right: auto;">
    Hey <%= @user.fullname %>,

    <p style="padding-bottom: 0px;">
      Hope you are doing well.
      Maybe you heard already that VersionEye will shut down buy End of this year. 
      If you haven't heard yet then please read this <a href="https://blog.versioneye.com/2017/10/19/versioneye-sunset-process/">blog post</a>.
    </p>
    <p>
      As we are shutting down operations by End of the year, many users asked me 
      for alternative products. Here are some products which are similar to 
      VersionEye:
    </p>
    <p>
      <ul style="list-style-type: none">
        <li>
          <a href="https://snyk.io"><img src="https://versioneye.files.wordpress.com/2017/12/snyk.png" /> Snyk.io</a>
          helps you use open source and stay secure, by finding, fixing (and preventing!) known vulnerabilities in open source dependencies. Snyk integrates tightly into source control (like Github) and CI tools. VersionEye was using Snyk's vulnerability database to surface vulnerabilities natively inside our product for the last 2 years. If you came to love these alerts, you can continue getting them and more by using <a href="https://snyk.io">Snyk for free</a>. To learn more read here: <a href="https://snyk.io/versioneye">https://snyk.io/versioneye</a><br/>
          <br/>
        </li>
        <li>
          <a href="https://ecs.eacg.de/">ECS</a>
          is a tool from the EACG GmbH from Frankfurt / Germany. The ECS tool will help you to 
          be license compliance with your license strategy. ECS has many features around open source 
          licenses, but also some security features. The company behind ECS is in Frankfurt and 
          offers Enterprise support and integration. 
          Check it out and give it a try.<br/>
          <br/>
        </li>
      </ul>
    </p>
    <p>
      Simply reply to this email if you want to give feedback.
    </p>
    <p>
      Best Regards, <br/>
      Robert @ VersionEye <br/>
      <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
      <br/>
    </p>

  </div>
</div>
<img src="http://www.google-analytics.com/collect?v=1&amp;tid=<%= Settings.instance.ga_account %>&amp;cid=<%= @user.ids %>&amp;t=event&amp;ec=email&amp;ea=open&amp;el=recipient&amp;cs=newsletter&amp;cm=email&amp;cn=pullrequest_vagrant" />
