# encoding: utf-8
<div>
  <div style="max-width: 500px; margin-left: auto; margin-right: auto;">
    Hey <%= @user.fullname %>,

    <p style="padding-bottom: 0px;">
      Hope you are doing well.
      Exactly one week ago I anounced that I will sunset VersionEye.
      I received a couple hundred emails and some phone calls about it.
      Many people asked me what I will do next.
    </p>
    <p>
      In November, I will start my journey with LivePerson.
      At the same time, I will work on the VersionEye sunset process.
      LivePerson is aware and supportive of my current situation.
    </p>
    <p>
      At LivePerson I will build a team to create an environment for
      serverless computing inside of the LivePerson cloud.
      That’s why I’m looking for great, talented, and motivated people to join me.
      If you have experience with DevOps, Docker, K8S, AWS, GCE, FaaS, Java, JavaScript, Rust and you would like to work with me on a great new product, then please get in touch.
      By the way, I value a good profile on StackOverflow and GitHub more than a fancy master title ;-)
    </p>
    <p>
      <a href="https://blog.versioneye.com/2017/10/26/the-start-of-a-new-journey/">Read the full article about why I'm joining LivePerson here</a>.
    </p>
    <p>
      Simply reply to this email if you want to give feedback.
    </p>
    <p>
      Best Regards, <br/>
      Robert @ VersionEye <br/>
      <a href="<%= Settings.instance.server_url %>?utm_medium=email&amp;utm_source=newsletter"><%= Settings.instance.server_url %></a>
      <br/>
    </p>

  </div>
</div>
<img src="http://www.google-analytics.com/collect?v=1&amp;tid=<%= Settings.instance.ga_account %>&amp;cid=<%= @user.ids %>&amp;t=event&amp;ec=email&amp;ea=open&amp;el=recipient&amp;cs=newsletter&amp;cm=email&amp;cn=pullrequest_vagrant" />
